services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: teamops
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - teamops_pg:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  teamops_pg:
